<!-- app.component.html -->

<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-white text-lg font-semibold">
      <a routerLink="/" href="https://www.stackasian.com/" target="_blank" routerLinkActive="active">STACKASIAN</a>
    </h1>
    
    <div class="hidden md:flex space-x-4">
      <h1 class="text-white">
        <a routerLink="add-new-resume" routerLinkActive="active">Add New Resume +</a>
      </h1>
      <!-- Add more navigation links as needed -->
    </div>

    <!-- Mobile menu button -->
    <div class="md:hidden">
      <button id="mobile-menu-button">
        <svg class="text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          viewBox="0 0 24 24" stroke="currentColor">
          <path d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
